@font-face {
  font-family: 'Regular';
  src: url('fonts/Product Sans Regular.ttf')  format('truetype'); 
}
@font-face {
  font-family: 'Bold';
  src: url('fonts/Product Sans Bold.ttf')  format('truetype'); 
}

body {
	font-family: 'Regular', sans-serif;
	background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ),
		url('img/erio.jpg');
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
	background-color: #afdfff;
	color: #000000;
	font-size: 20px;
}

a, a:hover, a:focus, a:active, a:visited {
	text-decoration: none;
	color: #000;
}

.image {
	margin-top: 80px;
	border-radius: 50%;
}

h1.hello {
	margin-top: 20px;
}

h1.hello, h1.timing {
	margin-bottom: 50px;
	font-size: 3.2rem;
}

.icons img {
	position: relative;
	height: 20px;
	width: auto;
	top: -2px;
}	
.icons a:not(:last-of-type) {
	padding-right: 20px;	
}	

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}