@import url(https://reizu.moe/krunker/reizu.css);

:root {
	--accent-color: #cfbfff;
	--health-color: #cfbfff;
	--ammo-color: #fff;
	--premium-color: #fbc02d;
	--verified-color: #40c4ff;
	--menu-bg-color: rgba(15, 15, 15, .2);
	--menu-bg-color-secondary: rgba(0, 0, 0, .5);
	--ingame-bg-color: rgba(15, 15, 15, .2);
	--text-transform: lowercase;
}

@font-face {
	font-family: gamefont;
	src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2);
}

@font-face {
	font-family: hpammo;
	src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2);
}

#healthValueHolder {
	background-color: transparent;
	width: 200px;
	height: 130px;
	left: 37.5%;
	bottom: 25px;
}

#healthValue {
	font-size: 96px;
}

#ammoDisplay {
	width: 200px;
	height: 130px;
	right: 37.5%;
	bottom: 25px;
}

#ammoVal {
	font-size: 96px;
}

#weapDisplay {
	display: none !important;
}

#killCardHolder {
    bottom: 20px;
}

#reloadMsg {
	bottom: 150px;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}
/*
#timerDisplay {
	width: 200px;
	height: 80px;
	background-color: transparent;
	will-change: unset;
}

#timerVal {
	font-size: 64px;
	padding-left: 0;
	will-change: unset;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#teamScores {
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 685px;
	height: 50px;
	padding: 10px;
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	border-radius: 0;
	background-color: transparent;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

.tScore {
	display: inline-block;
}

#tScoreV1 {
	position: fixed;
	left: -25%;
	top: 4px;
}

#tScoreV2 {
	position: fixed;
	left: 25%;
	top: 4px;
}

.tScoreT {
	width: 100%;
	margin-top: 12px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
	z-index: 2;
}

.tScoreM {
	display: none;
}

.tScoreF {
	left: 50%;
	width: 90px;
	height: 60px;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	background-color: #eb5656;
	color: transparent;
	opacity: 50%;
	z-index: 1;
}

.tScoreF.you {
	background-color: #5699eb;
	color: transparent;
	opacity: 50%;
	z-index: 1;
}

.tScoreC {
	left: 50%;
	width: 90px;
	height: 60px;
	margin-left: 125px;
	margin-right: 125px;
	background-color: var(--accent-color);
	opacity: 50%;
	z-index: 1;
}

.tScoreC.you {
	background-color: #fff;
	opacity: 50%;
	z-index: 1;
}

#gameMessage {
	top: 80px;
	font-size: 18px;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#ingameFPS {
	color: #fff !important;
	visibility: visible;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#pingText {
	color: #fff !important;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#pingIcon {
	color: var(--accent-color) !important;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#pingDisplay .material-icons {
	font-size: 20px;
	text-shadow: 2px 2px 3px rgba(30, 30, 30, .5);
}

#streamContainer {
	display: inline-block !important;
}
*/
